body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}


.header {
    display: flex;
    justify-content: center;
    padding: 0px 50px; 
}

.test3 {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

.one {
    background-color: #1F2937;
}

.lists {
    display: flex;
}

li {
    margin: 10px;
    list-style: none;
}

a {
    text-decoration: none;
    color:white;
    font-size: medium;
}

h1, h2 {
    color: white;
}

h4 {
    color: lightgrey;
}

h3 {
    margin: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    margin: 48px;
}

.hero_text {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: flex-start;
}

.placeholder {
    height: 350px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
}

.button1 {
    color: white;
    background-color: blue;
    border-radius: 5px;
    width: 100px;
    height: 25px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: center;
}

.box {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: blue;
    border-width: 5px;  
    margin: 10px;  
}

.textbox {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 5px;  
    margin: 10px;  
    text-align: center;
}

.three {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    

}

.quote {
    font-size: 34px;
    font-style: italic;
    
}

.author {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.four {
    display: flex;
    justify-content: center;
    
}

.placeholder2 {
    display: flex;
    flex-direction: column;
    width:650px; 
    background-color: blue;
    padding: 35px;
    margin: 70px;
    border-radius: 25px;
}

.cta {
    margin-top: 25px;
    padding: 0px; 
    color: white

}

.signup {
    color: white;
}

.button2 {
    display: flex;
    align-items: center;
    background-color: blue;
    border-color: white;
    color: white;
    border-radius: 15px;
    width: 150x;  
    height: 35px; 
    padding: 20px;
}

.test {
    display: flex;
}

.test2 {
    display: flex;
    align-items: center;
}

.five {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 35px;
}

.footertext {
    color: white;
}