body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px   
}

.one {
    background-color: #1F2937;
}

h1, h2 {
    color: white;
}

h4 {
    color: lightgrey;
}

.hero {
    display: flex;
    justify-content: center;
    margin: 48px;
}

.hero_text {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: flex-start;
}

.placeholder {
    height: 350px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

button {
    color: white;
    background-color: blue;
    border-radius: 5px;
    width: 100px;
    height: 25px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: center;
}

.box {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: blue;
    border-width: 5px;  
    margin: 10px;  
}

.textbox {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 5px;  
    margin: 10px;  
    text-align: center;
}

.three {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    

}

.quote {
    font-size: 34px;
    font-style: italic;
    
}

.author {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

